body {
    background-color: #1c1e1f;
    font-family: 'Open Sans', sans-serif;
    color: #86cecb;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(23, 26, 27);
}

.nav-menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-item {
    font-size: 20px;
    padding: 5px 15px;
}

.nav-item a {
    color: #86cecb;
}

.nav-item a:hover {
    animation-name: link;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.nav-title {
    padding: 0px 10px;
}

.main-container {
    padding-top: 110px;
    text-align: center;
}

.posts-container {
    outline: 2px dashed #e12885;
    display: grid;
    width: 25em;
    margin: 1em auto;
    grid-template-columns: 1fr auto;
    grid-gap: 5px 30px;
    justify-items: start;
    padding: 5px 10px;
}

.link-item {
    color: #86cecb;
}

.link-item:hover {
    animation-name: link;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes link {
    100% {
        color: #e12885;
    }
}